 .game-container {
     text-align: center;
     vertical-align: center;
     margin-top: 35px;
     margin-bottom: 35px;
 }

 body {
     text-align: center;
     font-family: 'Press Start 2P', cursive; /* Add font-family here */
 }

 canvas {
    background-color: black;
    border: 5px solid darkred;
 }

 h1 {
     color: lightgreen;
 }

 .score-container {
     margin-top:  40px;
 }