 .game-container {
     text-align: center;
     vertical-align: center;
     margin-top: 35px;
     margin-bottom: 35px;
 }

 body {
     text-align: center;
     font-family: 'Press Start 2P', cursive; /* Add font-family here */
 }

 canvas {
    background-color: black;
    border: 5px solid darkred;
 }

 h1 {
     color: lightgreen;
 }

 button {
     display: inline-block;
     padding: 0.5em 1em;
     background-color: #cccccc;
     border: none;
     font-size: 1.2em;
     color: #444444;
     border-radius: 5px;
     box-shadow: 0px 2px 0px 0px #cccccc;
     text-shadow: 0px 1px 0px #ffffff;
     transition: all 0.2s ease-in-out;
     font-family: 'Press Start 2P', cursive; /* Add font-family here */
 }

 button:hover {
     background-color: lightgreen;
     box-shadow: none;
     text-shadow: none;
     transform: translateY(2px);
 }

 .score-container {
     margin-top:  40px;
 }