body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
  }
  
  header nav a {
    color: #333;
    text-decoration: none;
    font-size: 0.9em;
    margin-right: 1em;
  }
  
  header nav a:hover {
    color: #0070c9;
  }
  
  header h1 {
    font-size: 2em;
    margin: 0;
  }
  
  main {
    padding: 2em;
  }
  
  section {
    margin-bottom: 2em;
  }
  
  section h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  
  section p {
    font-size: 0.9em;
    line-height: 1.5em;
    margin: 0;
  }

  footer p {
    padding-left: 32px;
    padding-right: 32px;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .card {
    width: 300px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 2em 35px;
  }

  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  }

  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .card .info {
    padding: 1em;
  }

  .card .info h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  .card .info p {
    font-size: 0.9em;
    color: #777777;
    margin-bottom: 1em;
  }

  .card .info .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .card .info .tags span {
    background-color: #f2f2f2;
    color: #777777;
    border-radius: 10px;
    padding: 0.5em;
    margin-right: 0.5em;
    font-size: 0.8em;
  }

  #tech-stack {
    text-align: center;
  }

  #contact {
    text-align: center;
  }