  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
  }
  
  header nav a {
    color: #333;
    text-decoration: none;
    font-size: 0.9em;
    margin-right: 1em;
  }
  
  header nav a:hover {
    color: #0070c9;
  }
  
  header h1 {
    font-size: 2em;
    margin: 0;
    color: #42446E;
  }
  
  main {
    padding: 2em;
  }
  
  section {
    margin-bottom: 2em;
  }
  
  section h2 {
    color: #42446E;
    margin-bottom: 1em;
    size: 48px;
    font-weight: 700;
    font-size: 42px;
    line-height: 26px;
  }

  #tech-stack{
    margin-top: 200px;
  }

  .tech-stack-container {
    margin-top: 35px;
    margin-bottom: 50px;
  }
  
  section p {
    color: #666666;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 26px;
  }

  footer p {
    padding-left: 32px;
    padding-right: 32px;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    width: 300px;
    height: 400px;
    background-color: #ffffff;

    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    overflow: hidden;
    margin: 2em 35px;
    transform: none;
    transition: all 0.4s;
  }

  .card:hover {
    transform: translateY(-15px);
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.4);
  }

  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .card .info {
    padding-right: 1em;
    padding-left: 1em;
  }

  .card .info h3 {
    color: #42446E;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }
  .card .info p {
    font-size: 0.9em;
    color: #777777;
    margin-bottom: 1em;
  }

  .card .tags {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }

  .card .tags span {
    background-color: #f2f2f2;
    color: #777777;
    border-radius: 10px;
    padding: 0.5em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    font-size: 0.8em;
    transition: background-color 0.3s, color 0.3s;
  }

  .card .tags span:hover {
    background-color: #333333;
    color: white;
  }

#tech-stack {
text-align: center;
}

#contact {
text-align: center;
}

.tech-stack-container {
padding-left: 30px;
padding-right: 30px;
display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
}

.divider {
mix-blend-mode: normal;
opacity: 0.3;
border: 2px solid #666666;
}

.tech .tech-label {
background-color: slategray;
color: #fff;
padding: 10px 20px;
border-radius: 100px;
position: absolute;
bottom: -60px;
left: 50px;
white-space: nowrap;
transform: translate(-50%, -50px);
letter-spacing: 1px;
font-size: 15px;
opacity: 0;
transition: all 0.3s;
}

.tech .tech-label::before {
content: "";
position: absolute;
width: 10px; height: 10px;
background-color: slategrey;
top: 0; left: 50%;
transform: translate(-50%, -50%) rotate(45deg);
}

.tech img:hover + .tech-label {
opacity: 1;
transform: translateX(-50%);
box-shadow: 0 10px 20px rgba(86, 86, 198, 0.3);
}

.tech {
margin: 30px;
position: relative;
}

.tech img:hover {
  transition: all 0.3s;
  transform: translateY(-20px);
}